version: '3'
services:
  web:
    build:
      context: .
    command: sh -c "yarn start"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
    tty: true
volumes:
  node_modules:
